<div class="col-md-12">
	<%= render 'shared/menu_transp' %>
</div>

<div class="col-md-10 col-md-offset-1">
	<h1>Editar autorização do utilizador</h1>

	<%= form_for([:sagt, @user], html: { class: 'form-horizontal' }) do |f| %>
		<%= render 'shared/error_messages', obj: @user %>

		<div class="form-group">
			<fieldset disabled>
				<%= f.label :user_id, "Utilizador", class: 'control-label col-md-3' %>
				<div class="col-md-9">
					<%= f.text_field :user_id, 
						value: @user.user.nome_utilizador, 
						class: 'form-control' %>
				</div>
			</fieldset>
		</div>

		<div class="form-group">
			<%= f.label :nivel_acesso, class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.select :nivel_acesso, 
					[['0 - Sem acesso', 0], 
					['1 - Utilizador', 1], 
					['2 - Supervisor', 2]], 
					{}, 
					class: 'form-control' %>
			</div>
		</div>

		<div class="col-md-offset-3">
			<%= f.submit "Atualizar", 
					class: 'btn btn-primary' %>
			<%= link_to "Cancelar", :back, class: 'btn btn-default' %>
			<%= link_to "Eliminar", sagt_transp_user_path(@user),
				method: :delete,
				data: { confirm: 'Tem a certeza que deseja eliminar o utilizador?' },
				class: 'btn btn-danger' %>
	<% end %>
		</div>
</div>