<aside class="col-md-3">
	<%= render 'shared/menu_transp' %>
</aside>
<div class="col-md-9">
	<h1>Editar autorização do utilizador</h1>

	<%= form_for([:sagt, @user]) do |f| %>
		<%= render 'shared/error_messages', obj: @user %>

		<div class="col-md-6">
			<fieldset disabled>
				<%= f.label :user_id, "Utilizador" %>
				<%= f.text_field :user_id, 
						value: @user.user.nome_utilizador, 
						class: 'form-control' %>
			</fieldset>
		</div>

		<div class="col-md-6">
			<%= f.label :nivel_acesso %>
			<% f.number_field :nivel_acesso, 
					min: 0, 
					max: 2, 
					class: 'form-control' %>
			<%= f.select :nivel_acesso, 
					[['0 - Sem acesso', 0], 
					['1 - Utilizador', 1], 
					['2 - Supervisor', 2]], 
					{}, 
					class: 'form-control' %>
		</div>

		<div class="col-md-3">
			<%= f.submit "Atualizar", 
					class: 'btn btn-primary' %>
		</div>
		<%= link_to "Eliminar", sagt_transp_user_path(@user),
				method: :delete,
				data: { confirm: 'Tem a certeza que deseja eliminar o utilizador?' },
				class: 'btn btn-danger' %>
	<% end %>
</div>