<div class="col-md-12">

	<div class="col-md-5">
		<div class="panel panel-default">
			<%= link_to root_url() do %>
				<h1 class="text-center"><small><span class="glyphicon glyphicon-heart-empty"></span></small> Ajudas técnicas</h1>
			<% end %>
		</div>
	</div>


	<div class="col-md-7">
		<div class="panel panel-default">
			<%= link_to ppcira_hig_maos_observations_url() do %>
				<h1 class="text-center"><small><span class="glyphicon glyphicon-thumbs-up"></span></small> Auditoria higiene das mãos</h1>
			<% end %>
		</div>
	</div>
	
	<div class="col-md-7">
		<div class="panel panel-default">
    		<%= link_to contacts_users_path() do %>
    			<h1 class="text-center"><small><span class="glyphicon glyphicon-user"></span></small> Contactos</h1>
    		<% end %>
		</div>
	</div>


	<div class="col-md-5">
		<div class="panel panel-default">
			<%= link_to vmer_escala_vmer_schedules_path() do %>
				<h1 class="text-center"><small><span class="glyphicon glyphicon-calendar"></span></small> Escala VMER</h1>
			<% end %>
		</div>
	</div>
	
	<div class="col-md-5">
		<div class="panel panel-default">
			<%= link_to root_url() do %>
				<h1 class="text-center"><small><span class="glyphicon glyphicon-question-sign"></span></small> Inquérito de satisfação</h1>
			<% end %>
		</div>
	</div>


	<div class="col-md-7">
		<div class="panel panel-default">
			<%= link_to sagt_transp_user_trips_calendar_url() do %>
				<h1 class="text-center"><small><span class="glyphicon glyphicon-road"></span></small> Requisição de transporte</h1>
			<% end %>
		</div>
	</div>
	
	<div class="col-md-7">
		<div class="panel panel-default">
			<%= link_to patients_path() do %>
				<h1 class="text-center"><small><span class="glyphicon glyphicon-bed"></span></small> SMI</h1>
			<% end %>
		</div>
	</div>

	<!--
	<div class="col-md-5">
		<div class="panel panel-default">
			<%= link_to root_url() do %>
				<h1 class="text-center"><small><span class="glyphicon glyphicon-time"></span></small> </h1>
			<% end %>
		</div>
	</div>
	-->
</div>