<aside class="col-md-2">
	<%= render 'shared/transp_menu' %>
</aside>
<div class="col-md-9">
	<table class="table">
		<thead>
			<tr>
				<th>Utilizador</th>
				<th>Acesso</th>
				<th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td>
						<%= user.nome_utilizador %>
					</td>
					<td>
						<%= render 'shared/nivel_acesso', user: user.transp_user %>
					</td>
					<td>
						<%= link_to "Editar", edit_transp_user_path(user.transp_user.id) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= render 'new' %>
</div>