<div class="col-md-12 panel panel-default">
	<%= render "devise/shared/links" %>
</div>

<div class="col-md-10 col-md-offset-1">
	<h1>Registo de novo utilizador</h1>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
		<%= devise_error_messages! %>

		<!-- Nome utilizador -->
		<div class="form-group">
			<%= f.label :nome_utilizador, class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.text_field :nome_utilizador, placeholder: 'Nome completo', class: 'form-control' %>
			</div>
		</div>

		<!-- Número mecanográfico -->
		<div class="form-group">
			<%= f.label :numero_mecanografico, "Número mecanográfico", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.number_field :numero_mecanografico, placeholder: '5 digitos', class: 'form-control' %>
			</div>
		</div>
		
		<!-- Título profissional -->
		<div class="form-group">
			<%= f.label :titulo, 'Título profissional', class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.select(:titulo, [[""],["Sr."], ["Sr.ª"], ["Dr."], ["Dr.ª"], ["Enf."], ["Enf.ª"], ["Tec."], ["Aux."], ["Eng."], ["Eng.ª"]], {}, class: 'form-control') %>
			</div>
		</div>

		<!-- Email -->
		<div class="form-group">
			<%= f.label :email, class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.email_field :email, autofocus: true, class: 'form-control' %>
			</div>
		</div>

		<!-- Contactos telefónicos cocoon -->
		<div class="form-group">
			<%= f.label :user_phone_numbers, "Contacto", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<div id="user_phone_numbers" class="panel panel-default">
					<div class="panel-body">
						<%= f.fields_for :user_phone_numbers do |user_phone_number| %>
							<%= render 'user_phone_number_fields', f: user_phone_number %>
						<% end %>
						<div class="links">
							<%= link_to_add_association 'Adicionar número', f, :user_phone_numbers, class: 'btn btn-default' %>
							<small>Contactos inseridos serão visiveis</small>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Serviços cocoon -->
		<div class="form-group">
			<%= f.label :u2d_associations, "Serviço", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<div id="u2d_associations" class="panel panel-default">
					<div class="panel-body">
						<%= f.fields_for :u2d_associations do |u2d_association| %>
							<%= render 'u2d_association_fields', f: u2d_association %>
						<% end %>
						<div class="links">
							<%= link_to_add_association 'Adicionar serviço', f, :u2d_associations, class: 'btn btn-default' %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Unidade -->
		<div class="form-group">
			<%= f.label :ulsne_site_id, "Unidade da ULSNE", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.collection_select(:ulsne_site_id, UlsneSite.order(:nome_unidade), :id, :nome_unidade, {}, class: 'form-control') %>
			</div>
		</div>

		<!-- Senha -->
		<div class="form-group">
			<%= f.label :password, 'Senha', class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.password_field :password, placeholder: 'Senha com 6 caracteres mínimo', autocomplete: "off", class: 'form-control' %>
			</div>
		</div>

		<!-- Confirmação -->
		<div class="form-group">
			<%= f.label :password_confirmation, 'Confirmação', class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.password_field :password_confirmation, placeholder: 'Confirme a senha', autocomplete: "off", class: 'form-control' %>
			</div>
		</div>

		<div class="col-md-offset-3">
			<%= f.submit "Registar", class: 'btn btn-primary' %>
		</div>
	<% end %>
</div>