<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Serviço de transportes</h1>

		<h2>Transporte de material para <%= @transport.local_entrega.destino %> em <%=l @transport.data_entrega %></h2>

		<p><%= @user.titulo %> <%= @user.nome_utilizador %>, a sua requisição está <%= 'aprovada' if @transport.aprovacao == 1 %><%= 'rejeitada' if @transport.aprovacao == 2 %><%= 'pendente' if @transport.aprovacao == 0 %>.</p>

		<p><%= @transport.comentarios_supervisor %></p>

		<p>Para mais detalhes consulte o <a href="http://portal.ulsne.min-saude.pt/">Portal ULSNE</a> ou contacte o serviço de transportes</p>

	</body>
</html>