<%= form_for([:contacts, @ulsne_department], html: { class: 'form-horizontal' } ) do |f| %>

	<%= render 'shared/error_messages', obj: @ulsne_department %>

	<div class="form-group">
		<%= f.label :nome_servico, "Designação", class: 'control-label col-md-3' %>
		<div class="col-md-9">
			<%= f.text_field :nome_servico, class: 'form-control' %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :office_phone_numbers, "Números do serviço", class: 'control-label col-md-3' %>
		<div class="col-md-9">
			<div class="panel panel-default" id="office_phone_numbers">
				<div class="panel-body">
					<%= f.fields_for :office_phone_numbers do |office_phone_number| %>
						<%= render 'office_phone_number_fields', 
					f: office_phone_number %>
					<% end %>
					<div class="links">
						<%= link_to_add_association 'Adicionar número', f, :office_phone_numbers, class: 'btn btn-default' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-offset-3">
		<%= f.submit "Submeter", class: 'btn btn-primary' %>
		<%= link_to "Cancelar", :back, class: 'btn btn-default' %>
	</div>
	
<% end %>