<%= form_for([:ppcira, @user]) do |f| %>

	<%= render 'shared/error_messages', obj: @user %>

	<div class="col-md-5">
		<%= f.collection_select :user_id, @users_collection, :id, :nome_utilizador, {}, class: 'form-control' %>
	</div>

	<div class="col-md-5">
		<% f.number_field :nivel_acesso, min: 0, max: 2, class: 'form-control' %>
		<%= f.select :nivel_acesso, [['0 - Sem acesso', 0], ['1 - Utilizador', 1], ['2 - Supervisor', 2]], {}, class: 'form-control' %>
	</div>

	<div class="col-md-2">
		<%= f.submit "Adicionar", class: 'btn btn-primary' %>
	</div>
<% end %>