<div class="col-md-12">
	<%= render 'shared/menu_hig_maos' %>
</div>
<div class="col-md-10 col-md-offset-1">

	<h1><small>utilizador</small> <%= @user.user.nome_utilizador %></h1>
	<%= form_for([:ppcira, @user]) do |f| %>
		<%= render 'shared/error_messages', obj: @user %>

		<div class="col-md-6">
			<fieldset disabled>
				<%= f.text_field :user_id, 
						value: @user.user.nome_utilizador, 
						class: 'form-control' %>
			</fieldset>
		</div>

		<div class="col-md-6">
			<%= f.select :nivel_acesso,
					[['0 - Sem acesso', 0],
					['1 - Utilizador', 1],
					['2 - Supervisor', 2]],
					{},
					class: 'form-control' %>
		</div>

		<div class="col-md-3">
			<%= f.submit "Submeter", class: 'btn btn-primary' %>
			<%= link_to "Cancelar", :back, class: 'btn btn-default' %>
		</div>	

		<%= link_to 'Eliminar', ppcira_hig_maos_user_path(@user),
			method: :delete,
			data: { confirm: 'Tem a certeza?' },
			class: 'btn btn-danger' %>
	<% end %>
</div>