<aside class="col-md-2">
	<%= render 'shared/escala_vmer_menu' %>
</aside>
<div class="col-md-10">
	<h1>Utilizadores</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Grupo</th>
				<th>Acesso</th>
			</tr>
		</thead>
			<% @users.each do |user|%>
				<tr>
					<td><%= link_to user.nome_utilizador, edit_escala_vmer_user_path(user.escala_vmer_user) %></td>
					<td><%= user.escala_vmer_user.escala_vmer_group.nome_grupo %></td>
					<td><%= render 'shared/nivel_acesso', user: user.escala_vmer_user %></td>
				</tr>
			<% end %>
		<tbody>
		</tbody>
	</table>
	<h2>Novo utilizador</h2>
	<%= render 'form' unless @users_collection.empty? %>
</div>