<tr class="<%= 'alert alert-danger' if ajudas_tecnicas_patient.obito? %>">
	<td><%= link_to ajudas_tecnicas_patient.nome_doente, ajudas_tecnicas_patient %></td>
	<td><%= ajudas_tecnicas_patient.rnu %></td>
	<td><%= ajudas_tecnicas_patient.ddn %></td>
	<td><%= ajudas_tecnicas_patient.morada %><td>
</tr>