<%= form_for(@patient) do |f| %>
	<%= render 'shared/error_messages', obj: @patient %>

	<%= f.label :nome_doente %>
	<%= f.text_field :nome_doente, class: 'form-control' %>
	
	<%= f.label :ddn, "Data nascimento" %><br />
	<%= f.date_select :ddn, {start_year: 1900}, class: 'form-control date-select' %>
	
	<%= f.label :rnu, "RNU" %>
	<%= f.text_field :rnu, class: 'form-control' %>
	
	<%= f.label :sexo %>
	<%= f.select(:sexo, options_for_select([['Homem'], ['Mulher']], @patient.sexo), {},  class: 'form-control') %>
	
	<%= f.label :morada %>
	<%= f.text_field :morada, class: 'form-control' %>
	
	<%= f.label :cpostal, "Codigo Postal" %><br />
	<%= f.text_field :cpostal, class: 'form-control datetime-select' %>
	<%= f.text_field :cpostal2, class: 'form-control datetime-select'%><br />
	
	<%= f.label :localidade %>
	<%= f.text_field :localidade, class: 'form-control' %>
	
	<%= f.label :obito %>
	<%= f.select(:obito, options_for_select([['Não', false], ['Sim', true]], @patient.obito), {}, class: 'form-control') %>
	
	<%= f.label :physician, "Médico" %>
	<%= f.collection_select(:ajudas_tecnicas_physician_id, @physicians, :id, :nome_medico, {}, class: 'form-control') %>

	<div class="well">
		<h3>Contactos</h3>
		<div id="ajudas_tecnicas_contacts">
			<%= f.fields_for :ajudas_tecnicas_contacts do |contact| %>
				<%= render 'ajudas_tecnicas_contact_fields', :f => contact %>
			<% end %>
			<%= link_to_add_association "Novo contacto", f, :ajudas_tecnicas_contacts, class:"btn btn-default" %>
		</div>
	</div>
	
	<%= f.submit "Guardar", class: 'btn btn-primary' %>
<% end %>