<div class="col-md-4">
	D. nascimento <strong><%= @patient.ddn %></strong>
	<br />
	Idade <strong><%= distance_of_time_in_words_to_now(@patient.ddn) unless @patient.obito? %></strong>
	<br />
	RNU <strong><%= @patient.rnu %></strong>
	<br />
	Sexo <strong><%= @patient.sexo %></strong>
	<br />
	<strong><%= "Falecido" if @patient.obito %></strong>
</div>
<div class="col-md-4">
	<%= render @patient.ajudas_tecnicas_contacts %>
	
	Morada <strong><%= @patient.morada %></strong>
	<br />
	C. postal <strong><%= @patient.cpostal %>-<%= @patient.cpostal2 %></strong>
	<br />
	Localidade: <strong><%= @patient.localidade %></strong>
</div>
<div class="col-md-4">
	Médico: <strong><%= @patient.ajudas_tecnicas_physician.nome_medico unless @patient.ajudas_tecnicas_physician.nil? %></strong>
</div>