<aside class="col-md-2">
	<%= render 'shared/ajudas_tecnicas_menu' %>
</aside>
<div class="col-md-10">
	<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href=<%= "#all" %> aria-controls="all" role="tab" data-toggle="tab">#</a></li>
			<% @patients.each do |letter, patients| %>
				<li role="presentation"><a href=<%= "#" + letter %> aria-controls=<%= letter %> role="tab" data-toggle="tab"><%= letter.upcase %></a></li>
			<% end %>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="all">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Nome</th>
								<th>RNU</th>
								<th>D. Nascimento</th>
								<th>Morada</th>
							</tr>
						</thead>
						<tbody>
							<%= render 'all_patients' %>
						</tbody>
					</table>
				</div>
			</div>
			<% @patients.each do |letter, patients| %>
				<div role="tabpanel" class="tab-pane" id=<%= letter %>>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nome</th>
									<th>RNU</th>
									<th>D. Nascimento</th>
									<th>Morada</th>
								</tr>
							</thead>
							<tbody>
								<%= render patients %>
							</tbody>
						</table>
					</div>
				</div>
			<% end %>
		</div>
</div>