<aside class="col-md-2">
	<%= render 'shared/satisf_surv_menu' %>
</aside>
<div class="col-md-10">
	<h3><%= @user.user.nome_utilizador %></h3>
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', obj: @user %>
		<%= f.label :nivel_acesso %>
			<% f.number_field :nivel_acesso,
				min: 0,
				max: 2,
				class: 'form-control' %>
			<%= f.select :nivel_acesso,
					[['0 - Sem acesso', 0],
					['1 - Utilizador', 1],
					['2 - Supervisor', 2]],
					{},
					class: 'form-control' %>
		<%= f.label ' ' %>
		<%= f.submit "Submeter", class: 'btn btn-primary' %>
	<% end %>
	<%= link_to "Cancelar", hig_maos_users_path(),
			class: 'btn btn-default' %>
	<%= link_to 'Eliminar', hig_maos_user_path(@user),
			method: :delete,
			data: { confirm: 'Tem a certeza?' },
			class: 'btn btn-danger' %>
</div>