<aside class="col-md-2">
	<%= render 'shared/hig_maos_menu' %>
</aside>
<div class="col-md-10">
	<table class="table">
		<thead>
			<tr>
				<th>Utilizador</th>
				<th>Acesso</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td>
						<%= user.nome_utilizador %>
					</td>
					<td>
						<%= render 'shared/nivel_acesso', user: user %>
					</td>
					<td>
						<%= link_to "Editar", edit_hig_maos_user_path(user) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= render 'new' unless @users_collection.empty? %>
</div>