<aside class="col-md-3">
	<%= render 'shared/menu_escala_vmer' %>
</aside>
<div class="col-md-9">
	<h1><small>Utilizador</small> <%= @user.user.nome_utilizador %></h1>

	<%= form_for([:vmer, @user]) do |f| %>
		<%= render 'shared/error_messages', obj: @user %>

		<div class="col-md-6">
			<%= f.label :escala_vmer_group_id, "Grupo" %>
			<%= f.collection_select :escala_vmer_group_id, 
				@groups, 
				:id, 
				:nome_grupo, 
				{}, 
				class: 'form-control' %>
		</div>

		<div class="col-md-6">
			<%= f.label :nivel_acesso %>
			<%= f.select :nivel_acesso, 
				[['0 - Sem acesso', 0], 
				['1 - Utilizador', 1], 
				['2 - Supervisor', 2]], 
				{}, 
				class: 'form-control' %>
		</div>

		<div class="col-md-3">
			<%= f.submit "Submeter", class: 'btn btn-primary' %>
		</div>
		
		<%= link_to 'Eliminar', vmer_escala_vmer_user_path(@user),
				method: :delete,
				data: { confirm: 'Tem a certeza?' },
				class: 'btn btn-danger' %>

	<% end %>
</div>