<aside class="col-md-3">
	<%= render 'shared/menu_escala_vmer' %>
</aside>
<div class="col-md-9">
	<h1>Utilizadores autorizados</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Grupo</th>
				<th>Acesso</th>
			</tr>
		</thead>
			<% @users.each do |user|%>
				<tr>
					<td><%= link_to user.nome_utilizador, edit_vmer_escala_vmer_user_path(user.escala_vmer_user) %></td>
					<td><%= user.escala_vmer_user.escala_vmer_group.nome_grupo %></td>
					<td><%= render 'shared/nivel_acesso', user: user.escala_vmer_user %></td>
				</tr>
			<% end %>
		<tbody>
		</tbody>
	</table>
	<div class="panel panel-default">
		<div class="panel-heading">Adicionar utilizador</div>
		<div class="panel-body">
			<%= render 'form' unless @users_collection.empty? %>
		</div>
	</div>
</div>