<div class="well well-sm">
	<h2>Supervisor</h2>
	<%= form_for(@transport) do |f| %>
		<%= f.label :aprovacao %>
		<%= f.select(:aprovacao,
				[['Pendente', 0],
				['Aprovado', 1],
				['Recusado', 2]], 
				{}, 
				class: 'form-control') %>
				
		<%= f.label :comentarios_supervisor %>
		<%= f.text_area :comentarios_supervisor, class: 'form-control' %>

		<%= f.submit "Submeter", class: 'btn btn-primary' %>
		<%= link_to 'Eliminar', transp_material_path(@transport),
				method: :delete,
				data: { confirm: 'Tem a certeza?' } %>
	<% end %>
</div>