<tr>
	<td><%= link_to obj.user.nome_utilizador, transp_material_path(obj) %></td>
	<td><%= obj.assunto %></td>
	<td><%=l obj.data_entrega, format: :short %></td>
	<td><%= obj.ulsne_department.nome_servico %></td>
	<td><%= obj.local_saida.destino %></td>
	<td><%= obj.local_entrega.destino %></td>
	<td><span style="background-color:red;color:white;"><%= 'Urgente' if obj.urgente %></span></td>
</tr>