<div class="panel panel-primary">
	<div class="panel-heading">Contactos</div>
	
		<li class="list-group-item">
			<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <%= link_to "Pessoas", people_path() %>
		</li>

		<li class="list-group-item">
			<div class="dropdown">
				<p class="dropdown-toggle" id="departmentsDropdownToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="glyphicon glyphicon-th" aria-hidden="true"></span> 
    				Serviços
					<span class="caret"></span>
				</p>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<% @departments.each do |d| %>
						<li>
							<%= link_to d.nome_servico, department_path(d) %>
						</li>
					<% end %>
				</ul>
			</div>
		</li>

		<li class="list-group-item">
			<div class="dropdown">
				<p class="dropdown-toggle" id="sitesDropdownToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 
    				Unidades
					<span class="caret"></span>
				</p>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<% @units.each do |unit| %>
						<li>
							<%= link_to unit.nome_unidade, unit_path(unit) %>
						</li>
					<% end %>
				</ul>
			</div>
		</li>

		<li class="list-group-item">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span> <%= link_to "Procurar", search_path() %>
		</li>
</div>

<% if current_user %>
	<div class="panel panel-default">
		<div class="panel-heading dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aplicações <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<%= render 'menus/ajudas_tecnicas' %>
				<%= render 'menus/hig_maos' %>
				<%= render 'menus/escalas_vmer' %>
				<%= render 'menus/satisf_surv' %>
				<%= render 'menus/transportes' %>
			</ul>
		</div>
	</div>
<% else %>
	<div class="panel panel-default">
		<div class="panel-heading dropdown">
			<a href=<%= login_path() %> role="button" aria-haspopup="true" aria-expanded="false">Aplicações</a>
		</div>
	</div>
<% end %>