<aside class="col-md-2">
	<%= render 'menu' %>
	<%= render 'shared/admin_menu' %>
</aside>
<div class="col-md-10">
	<h1><%= @department.nome_servico %></h1>


	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#pessoas" aria-controls="pessoas" role="tab" data-toggle="tab">Pessoas</a>
		</li>
    	<li role="presentation">
    		<a href="#gabinetes" aria-controls="gabinetes" role="tab" data-toggle="tab">Gabinetes</a>
    	</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="pessoas">
			<%= render 'people_contact_list', contacts: @department.users.reorder(:nome_utilizador) %>
		</div>
		<div role="tabpanel" class="tab-pane" id="gabinetes">
			<%= link_to "Nova extensão", 
			ulsne_department_path(@department), 
			class: 'btn btn-success' if current_user %>
			
			<%= render 'offices_contact_list', offices: @department.office_phone_numbers.reorder(:ulsne_site_id) %>
		</div>
	</div>
</div>
<%= render 'shared/modal' %>