<aside class="col-md-2">
	<%= render 'menu' %>
	<%= render 'shared/admin_menu' %>
</aside>
<div class="col-md-10">
	<div>
		<h1>Lista alfabética de contactos</h1>

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<!-- all contacts -->
			<li role="presentation" class="active">
				<a href='#all' role="tab" data-toggle="tab">Todos</a>
			</li>

			<!-- alphabet -->
			<% @contacts_by_first_letter.each do |letter, contact| %>
				<li role="presentation">
					<a href=<%= '#' + letter %> aria-controls="settings" role="tab" data-toggle="tab"><%= letter.upcase %></a>
				</li>
			<% end %>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Todos -->
			<div role="tabpanel" class="tab-pane active" id="all">
				<%= render 'people_contact_list', contacts: @contacts %>
				<%= will_paginate @contacts %>
			</div>

			<!-- alphabet -->
			<% @contacts_by_first_letter.each do |letter, contacts| %>
				<div role="tabpanel" class="tab-pane" id="<%= letter %>">
					<%= render 'people_contact_list', contacts: contacts %>
				</div>
			<% end %>	
		</div>
	</div>
</div>

<%= render 'shared/modal' %>