<aside class="col-md-2">
	<%= render 'menu' %>
	<%= render 'shared/admin_menu' %>
</aside>
<div class="col-md-10">
	<div class="jumbotron">
		<h1>Procura</h1>
		<%= form_tag("/search", :method => "get") do %>
			<div class="col-md-9">
			<%= text_field_tag 'search_string', nil, placeholder: 'Pesquisar...', class: 'form-control' %>
			</div>
			<div class="col-md-3">
				<%= submit_tag 'Procurar', class: 'btn btn-success' %>
			</div>
		<% end %>
	</div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#pessoas" aria-controls="pessoas" role="tab" data-toggle="tab">Pessoas</a>
		</li>
    	<li role="presentation">
    		<a href="#servicos" aria-controls="servicos" role="tab" data-toggle="tab">Serviços</a>
    	</li>
    	<li role="presentation">
    		<a href="#gabinetes" aria-controls="gabinetes" role="tab" data-toggle="tab">Gabinetes</a>
    	</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="pessoas">
			<% unless @contacts_query.nil? || @contacts_query.empty? %>	
				<%= render 'people_contact_list', contacts: @contacts_query %>
			<% else %>
				<p>Sem resultados</p>
			<% end %>
		</div>

		<div role="tabpanel" class="tab-pane" id="servicos">
			<% unless @departments_query.nil? || @departments_query.empty? %>
				<ul class="list-group">
					<% @departments_query.each do |dep| %>
						<li class="list-group-item">
							<%= link_to dep.nome_servico, department_path(dep) %>
						</li>
					<% end %>
				</ul>
			<% else %>
				<p>Sem resultados</p>
			<% end %>
		</div>

		<div role="tabpanel" class="tab-pane" id="gabinetes">
			<% unless @offices_query.nil? || @offices_query.empty? %>
				<%= render 'offices_contact_list', offices: @offices_query %>
			<% else %>
				<p>Sem resultados</p>
			<% end %>
		</div>
	</div>
</div>
<%= render 'shared/modal' %>