<aside class="col-md-2">
	<%= render 'menu' %>
	<%= render 'shared/admin_menu' %>
</aside>
<div class="col-md-10">
	<h1><%= @unit.nome_unidade %></h1>

	<ul class="list-group">
		<% @unit_departments.each do |dep| %>
			<li class="list-group-item">
				<%= link_to dep.nome_servico, department_path(dep, unit: @unit), remote: true %>
			</li>
		<% end %>
	</ul>
</div>
<%= render 'shared/modal' %>