<aside class="col-md-2">
	<%= render 'menu' %>
	<%= render 'shared/admin_menu' %>
</aside>
<div class="col-md-10">
	<h1><%= @unit.nome_unidade %></h1>
	<table class="table">
		<thead>
			<tr>
				<th>Serviço</th>
			</tr>
		</thead>
		<tbody>
			<% @departments.each do |department| %>
				<tr>
					<td><%= link_to department.nome_servico, department_unit_path(@unit, department) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% @office_phone_numbers.each do |phone| %>
		<%= phone.nome_gabinete %> <%= phone.numero_gabinete %> <% phone.ulsne_department.nome_servico %><br />
	<% end %>
</div>