<aside class="col-md-2">
	<%= render 'shared/admin_menu' %>
</aside>
<div class="col-md-9">
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Contacto</th>
				<th>Serviço</th>
				<th>Unidade</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= link_to "#{user.titulo} #{user.nome_utilizador}", user_path(user) %></td>
					<td>
						<% user.user_phone_numbers.each do |user_phone_number| %>
							<%= user_phone_number.numero_contacto %><br />
						<% end %>
					</td>
					<td>
						<% user.ulsne_departments.each do |ulsne_department| %>
							<%= ulsne_department.nome_servico %><br />
						<% end %>
					</td>
					<td><%= user.ulsne_site.nome_unidade %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @users %>
</div>