<aside class="col-md-2">
	<%= render 'shared/admin_menu' %>
	<%= render 'user_actions' %>
</aside>
<div class="col-md-10">
	<h1><%= @user.titulo %> <%= @user.nome_utilizador %></h1>
	<table class="table">
		<thead>
			<tr>
				<th>Contacto</th>
				<th>Email</th>
				<th>Serviço</th>
				<th>Unidade</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<% @user.user_phone_numbers.each do |phone| %>
						<%= phone.numero_contacto %><br />
					<% end %>
				</td>
				<td><%= @user.email %></td>
				<td>
					<% @user.ulsne_departments.each do |servico| %>
						<%= servico.nome_servico %><br />
					<% end %>
				</td>
				<td><%= @user.ulsne_site.nome_unidade %></td>
			</tr>
		</tbody>
	</table>
	<%= render 'administrator' if current_user.administrator %>
</div>