<%= form_for([:contacts, @ulsne_site]) do |f| %>
	<%= render 'shared/error_messages' ,obj: @ulsne_site %>

	<div class="fields">
		<%= f.label :nome_unidade, "Designação da unidade" %>
		<%= f.text_field :nome_unidade, class: 'form-control' %>
	</div>

	<div class="actions">
		<%= f.submit "Submeter", class: 'btn btn-primary' %>
	</div>
<% end %>