<div class="col-md-12">
	<%= render 'shared/menu_contacts' %>
</div>

<div class="col-md-10 col-md-offset-1">
	<h1>Unidades</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Unidade</th>
				<th>Telefone</th>
			</tr>
		</thead>
		<tbody>
			<% @ulsne_sites.each do |ulsne_site| %>
				<tr>
					<td>
						<%= link_to ' ', edit_contacts_ulsne_site_path(ulsne_site), class: 'fa fa-pencil' if current_user.administrator %>
						<%= ulsne_site.nome_unidade %>
					</td>
					<td><%= ulsne_site.telefone %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= render 'shared/modal' %>