<div class="col-md-12 nested-fields">
	<div class="panel panel-info">
		<div class="panel-heading">Observação</div>
		<div class="panel-body">
			<div class="col-md-3">
				<%= f.label :worker_category_id, "Categoria profissional" %>
			</div>
			<div class="col-md-3">
				<%= f.collection_select(:hig_maos_worker_category_id, @categories, :id, :categoria_profissional, {}, class: 'form-control' ) %>
			</div>
			<div class="col-md-3">
				<%= f.label :numero_profissionais %>
			</div>
			<div class="col-md-3">
				<%= f.select(:numero_profissionais, [1,2,3,4,5,6,7,8,9], {}, class: 'form-control') %>
			</div>
			<div id="hig_maos_opportunities">
				<%= f.fields_for :hig_maos_opportunities do |opportunity| %>
					<%= render 'hig_maos_opportunity_fields', f: opportunity %>
				<% end %>
				<div class="links">
					<%= link_to_add_association 'Adicionar oportunidade', f, :hig_maos_opportunities, class: 'btn btn-default' %>
				</div>
			</div>
			<%= link_to_remove_association "Remover observação", f, class: 'text-danger' %>
		</div>
	</div>
</div>