<aside class="col-md-2">
	<%= render 'shared/hig_maos_menu' %>
</aside>
<div class="col-md-10">
	<h1>Estatística de <%= @selected_month %></h1>

	<h2>Observações por dia</h2>
	<%= line_chart @observations.group_by_day(:inicio_sessao, format: "%B %d, %Y").count, discrete: true %>

	<h2>Observações por unidade</h2>

	<!-- teste -->
	<% @sites.each do |s| %>
		<h3><%= s.nome_unidade %></h3>
		<%= obs = s.hig_maos_observations.where(inicio_sessao: @date_range).pluck(:id) %>
		<p>N. oportunidades: <%= obs.count %></p>
		<% opportunities_cluster = HigMaosOpportunitiesCluster.where(hig_maos_observation_id: obs) %>

		<!-- to remove -->
		<% opportunities_cluster.each do |oc| %>
			<p>Id: <%= oc.id %>, obs_id: <%= oc.hig_maos_observation_id %></p>
		<% end %>
		<!-- end remove -->

		<% opportunities_cluster.group(:hig_maos_worker_category) %>
	<% end %>

	<!-- fim teste -->

	<%= line_chart @sites.map{|site|
		{ name: site.nome_unidade, data: site.hig_maos_observations.group_by_month(:created_at).count }
	} %>
</div>