<div class="panel panel-primary">
	<div class="panel-heading">Ajudas técnicas</div>
	<ul class="list-group">
		<li class="list-group-item">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 
			<a href="<%= ajudas_tecnicas_patients_url() %>">Utentes</a>
			<br />

			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
			<a href="<%= new_ajudas_tecnicas_patient_url() %>">Novo utente</a>
		</li>
		
			<li class="list-group-item">
				<span class="glyphicon glyphicon-bed" aria-hidden="true"></span> 
				<a href="<%= ajudas_tecnicas_equipments_path() %>">Equipamentos</a>
				<br />

				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
				<a href="<%= new_ajudas_tecnicas_equipment_path() %>">Novo equipamento</a>
			</li>

			<li class="list-group-item">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 
				<a href="<%= ajudas_tecnicas_physicians_path() %>">Médicos</a>
			</li>

			<li class="list-group-item">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
				<a href="<%= ajudas_tecnicas_contact_types_path() %>">Tipos de contacto</a>
			</li>

			<li class="list-group-item">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
				<a href="<%= ajudas_tecnicas_users_path() %>">Utilizadores</a>
			</li>

	</ul>
</div>