<div class="panel panel-default">
	<ul class="nav nav-pills">
		<!-- deslocações pessoais -->
		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-car"></i> Deslocação individual <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li role="presentation" class=<%= 'active' if current_page?(sagt_transp_user_trips_calendar_path) %>>
					<%= link_to sagt_transp_user_trips_calendar_path() do %>
						<i class="fa fa-calendar"></i> Requisições
					<% end %>
				</li>
				<li role="presentation" class=<%= 'active' if current_page?(new_sagt_transp_user_trip_path) %>>
					<%= link_to new_sagt_transp_user_trip_path() do %>
						<i class="fa fa-calendar-plus-o"></i> Nova requisição
					<% end %>
				</li>
			</ul>
 	 </li>

		<!-- transporte materiais -->
		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-truck"></i> Tranporte de material <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li role="presentation" class=<%= 'active' if current_page?(sagt_transp_materials_calendar_path) %>>
					<%= link_to sagt_transp_materials_calendar_path() do %>
						<i class="fa fa-calendar"></i> Requisições
					<% end %>
				</li>
				<li role="presentation" class=<%= 'active' if current_page?(new_sagt_transp_material_path) %>>
					<%= link_to new_sagt_transp_material_path() do %>
						<i class="fa fa-calendar-plus-o"></i> Nova requisição
					<% end %>
				</li>
			</ul>
		</li>

		<!-- admin menu -->
		<% if policy(:transp_user).index? %>

			<li role="presentation" class=<%= 'active' if current_page?(sagt_transp_user_trips_path) %>>
				<%= link_to sagt_transp_user_trips_path() do %>
					<i class="fa fa-car"></i> Deslocações individuais
				<% end %>
			</li>

			<li role="presentation" class=<%= 'active' if current_page?(sagt_transp_materials_path) %>>
				<%= link_to sagt_transp_materials_path() do %>
					<i class="fa fa-truck"></i> Transportes material
				<% end %>
			</li>

			<li role="presentation" class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-cog fa-spin"></i> Configurações <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation" class=<%= 'active' if current_page?(sagt_transp_destinations_path) %>>
						<%= link_to sagt_transp_destinations_path() do %>
							<i class="fa fa-map-marker"></i> Gerir destinos
						<% end %>
					</li>

					<li role="presentation" class=<%= 'active' if current_page?(sagt_transp_users_path) %>>
						<%= link_to sagt_transp_users_path() do %>
							<i class="fa fa-lock"></i> Gerir utilizadores
						<% end %>
					</li>
				</ul>
			</li>
	
		<% end %>
	</ul>
</div>