<div class="panel panel-primary">
	<div class="panel-heading">Transportes</div>
	<ul class="list-group">
		<li class="list-group-item">
			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 
			<%= link_to "Deslocações", transp_user_trips_path() %>
			<br />
			
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
			<%= link_to "Nova deslocação", new_transp_user_trip_path() %>
		</li>
		<li class="list-group-item">
			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 
			<%= link_to "Material", transp_materials_path() %>
			<br />

			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
			<%= link_to "Novo material", new_transp_material_path() %>
		</li>
	</ul>
</div>

<% if current_user.administrator || current_user.transp_user.nivel_acesso == 2 %>
	<div class="panel panel-primary">
		<div class="panel-heading">Gestão</div>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 
				<%= link_to "Deslocações", transp_user_trips_list_path() %>
				<br />
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 
				<%= link_to "Material", transp_materials_list_path() %>
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-road" aria-hidden="true"></span> 
				<%= link_to "Destinos", transp_destinations_url() %>
				<br />

				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
				<%= link_to "Utilizadores", transp_users_url() %>
			</li>
		</ul>
	</div>
<% end %>
