<tr>
	<td><%=l obj.created_at, format: :short %></td>
	<td><%= link_to obj.user.nome_utilizador, sagt_transp_material_path(obj) %></td>
	<td><%=l obj.data_entrega, format: :short %></td>
	<td><%= obj.assunto %></td>
	<td><%= obj.ulsne_department.nome_servico %></td>
	<td><%= obj.local_saida.destino %></td>
	<td><%= obj.local_entrega.destino %></td>
	<td>
		<span style="background-color:orange;color:white;">
			<%= 'Urgente' if obj.urgente == 1 %>
		</span>
		<span style="background-color:red;color:white;">
			<%= 'Emergente' if obj.urgente == 2 %>
		</span>
	</td>
</tr>