<div class="col-md-12">
	<%= render 'shared/menu_transp' %>
</div>

<div class="col-md-10 col-md-offset-1">
	<h1>Requisições transporte material</h1>
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Criado em </th>
				<th>Requisitante</th>
				<th><%= sort_link(@q, :data_entrega) %></th>
				<th>Assunto</th>
				<th>Serviço</th>
				<th><%= sort_link(@q, :local_saida) %></th>
				<th><%= sort_link(@q, :local_entrega) %></th>
				<th>Urgente</th>
			</tr>
		</thead>
		<tbody>
			<!-- Pendentes -->
			<tr class="info"><td colspan="9">Pendentes</td></tr>
			<% @transports.where(aprovacao: 0).each do |t| %>
				<%= render 'table_row', obj: t %>
			<% end %>

			<!-- Aprovadas -->
			<tr class="success"><td colspan="9">Aprovadas</td></tr>
			<% @transports.where(aprovacao: 1).each do |t| %>
				<%= render 'table_row', obj: t %>
			<% end %>

			<!-- Rejeitadas -->
			<tr class="danger"><td colspan="9">Rejeitadas</td></tr>
			<% @transports.where(aprovacao: 2).each do |t| %>
				<%= render 'table_row', obj: t %>
			<% end %>
		</tbody>
	</table>
</div>