<div class="col-md-12">
  <%= render 'shared/menu_transp' %>
</div>

<div class="col-md-10 col-md-offset-1">

	<div class="row">
		<div class="col-md-6">
			<p>
				<small>Requisitante</small> <strong><%= @transport.user.nome_utilizador %></strong>
			</p>
		</div>

		<div class="col-md-6">
			<p>
				<small>Serviço</small> <%= @transport.ulsne_department.nome_servico %>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>
				<small>Assunto </small>
				<%= @transport.assunto %>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<p>
				<small>Local saída </small>
				<%= @transport.local_saida.destino %>
			</p>

			<p>
				<small>Data e hora entrega </small>
				<%=l @transport.data_entrega %>
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<small>Local entrega </small>
				<%= @transport.local_entrega.destino %>
			</p>
			<p>
				<small>Urgente </small>
				<% if @transport.urgente == 0 %>
					Não
				<% elsif @transport.urgente == 1 %>
					Urgente
				<% else %>
					Emergente
				<% end %>
			</p>
		</div>
	</div>

	<div class="row">
		<p>
			<small>Observações </small>
			<%= @transport.observacoes %>
		</p>
	</div>

	<div class="row">
		<p>
			<%= link_to "Editar", edit_sagt_transp_material_path(@transport), class: 'btn btn-success' %>
			<%= link_to "Voltar", :back, class: 'btn btn-default' %>
		</p>
	</div>

	<div class="row">
		<%= render 'supervisor' if current_user.administrator || current_user.transp_user.nivel_acesso ==2 %>
	</div>
</div>