<%= form_for(@devices_category) do |f| %>
    <div class="form-group">
        <%= f.label :categoria %>
        <%= f.text_field :categoria, class: 'form-control' %>
    </div>
    
    <%= f.submit "Submeter", class: 'btn btn-primary' %>
    <%= link_to "Cancelar", :back, class: 'btn btn-default' if action_name == 'edit' %>
<% end %>