<%= form_for([:ppcira, @observation], html: { class: 'form-horizontal' }) do |f| %>
	<%= render 'shared/error_messages', obj: @observation %>

	<div class="form-group">
		<%= f.label :user_id, "Auditor", class: 'control-label col-md-3' %>
		<div class="col-md-9">
			<%= f.collection_select :user_id, @users, :id, :nome_utilizador, {}, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :ulsne_department_id, "Serviço", class: 'control-label col-md-3' %>
		<div class="col-md-9">
			<%= f.collection_select(:ulsne_department_id, @departments, :id, :nome_servico, {}, class: 'form-control') %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :ulsne_site_id, "Unidade", class: 'control-label col-md-3' %>
		<div class="col-md-9">
			<%= f.collection_select(:ulsne_site_id, @sites, :id, :nome_unidade, {}, class: 'form-control') %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :inicio_sessao, "Início da sessão", class: 'control-label col-md-3' %>
		<div class="col-md-9">
			<%= f.text_field :inicio_sessao, placeholder: 'dd/mm/aaaa hh:mm', class: 'form-control datetimepicker' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :fim_sessao, "Fim da sessão", class: 'control-label col-md-3' %>
		<div class="col-md-9">
			<%= f.text_field :fim_sessao, placeholder: 'dd/mm/aaaa hh:mm', class: 'form-control datetimepicker' %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :hig_mail_opportunities_clusters, "Observações", class: 'control-label col-md-3' %>
		<div class="col-md-9">
			<div id="hig_mail_opportunities_clusters">
				<%= f.fields_for :hig_maos_opportunities_clusters do |opportunities_cluster| %>
					<%= render 'hig_maos_opportunities_cluster_fields', f: opportunities_cluster %>
				<% end %>
				<div class="links">
					<%= link_to_add_association 'Adicionar observação', f, :hig_maos_opportunities_clusters, class: 'btn btn-success' %>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-offset-3">
		<%= f.submit "Submeter", class: 'btn btn-primary' %>
	</div>
<% end %>