<aside class="col-md-3">
	<%= render 'shared/menu_hig_maos' %>
</aside>
<div class="col-md-9">
	<p><strong>Observação <%= @observation.id %></strong></p>
	
	<div class="col-md-6">
		<p><small>Auditor </small><%= @observation.user.nome_utilizador %></p>
		<p><small>Serviço </small><%= @observation.ulsne_department.nome_servico %></p>
		<p><small>Unidade </small><%= @observation.ulsne_site.nome_unidade %></p>
	</div>
	<div class="col-md-6">
		
		<p><small>Inicio </small><%=l @observation.inicio_sessao %></p>
		<p><small>Fim </small><%=l @observation.fim_sessao %></p>
		<p><small>Duração </small><%= distance_of_time_in_words(@observation.inicio_sessao, @observation.fim_sessao) %></p>
	</div>
	<div class="col-md-12">
		<%= render @observation.hig_maos_opportunities_clusters %>
	</div>
</div>