<aside class="col-md-2">
	<%= render 'shared/hig_maos_menu' %>
</aside>
<div class="col-md-10">
	<h1>Estatísticas mensais</h1>

	<div class="row">
		<div class="col-md-2 col-md-offset-3">
			<%= select_month(@date.month, {}, class: 'form-control') %>
		</div>
		<div class="col-md-2">
			<%= select_year(@date.year, {start_year: 2015, end_year: Date.today.year}, class: 'form-control') %>
		</div>
		<div class="col-md-2">
			<a href="#" id="goto_date" class="btn btn-default">Ver</a>
		</div>
	</div>

	<h2>Número de observações por dia</h2>
	<%= line_chart @observations.group_by_day(:inicio_sessao).count, discrete: true %>

	<h2>Percentagem de observações por auditor</h2>
	<%= pie_chart @obs.group(:nome_utilizador).count %>
</div>