<tr>
	<!--<td><%#= uci_catheter.user.nome_utilizador %></td>-->
	<td><%= link_to uci_device.device_type.nome_dispositivo, edit_patient_uci_device_path(@patient, uci_device), remote: true %></td>
	<td><%= uci_device.data_introducao %></td>
	<td><%= uci_device.data_remocao %></td>
	<td><%= distance_of_time_in_words(uci_device.data_introducao, uci_device.data_remocao) unless uci_device.data_remocao.nil? %></td>
	<td><%= uci_device.observacao %></td>
</tr>