<%= form_for(@user, html: { class: 'form-horizontal'}) do |f| %>

		<%= render 'shared/error_messages', obj: @user %>

		<% if action_name == "index" %>
			<div class="form-group">
				<%= f.label :user_id, "Utilizadores", class: 'control-label col-md-3' %>
				<div class="col-md-9">
					<%= f.collection_select :user_id, @users_collection, :id, :nome_utilizador, {}, class: 'form-control' %>
				</div>
			</div>
		<% end %>

		<div class="form-group">
			<%= f.label :devices, "Dispositivos", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.select :devices,
					[['0 - Sem acesso', 0], 
					['1 - Visualizar', 1], 
					['2 - Registar', 2]], 
					{}, 
					class: 'form-control' %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :wounds, "Feridas", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.select :wounds, 
					[['0 - Sem acesso', 0], 
					['1 - Visualizar', 1], 
					['2 - Registar', 2]], 
					{}, 
					class: 'form-control' %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :tiss, "TISS 28", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.select :tiss, 
					[['0 - Sem acesso', 0], 
					['1 - Visualizar', 1], 
					['2 - Registar', 2]], 
					{}, 
					class: 'form-control' %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :supervisor, "Supervisor", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default <%= 'active' unless @user.supervisor %>">
						<input type="radio" name="uci_user[supervisor]" id="uci_user_supervisor_nao" value="false" autocomplete="off" checked> Não
					</label>
					<label class="btn btn-default <%= 'active' if @user.supervisor %>">
						<input type="radio" name="uci_user[supervisor]" id="uci_user_supervisor_sim" value="true" autocomplete="off"> Sim
					</label>
				</div>
			</div>
		</div>
	
		<div class="col-md-offset-3 col-md-4">
			<%= f.submit "Submeter", class: 'btn btn-primary' %>
		</div>

		

	<% end %>