<aside class="col-md-12">
	<%= render 'shared/menu_patients' %>
</aside>
<div class="col-md-10 col-md-offset-1">
	<h1>Utilizadores autenticados</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Dispositivos</th>
				<th>Feridas</th>
				<th>TISS 28</th>
				<th>Supervisor</th>
			</tr>
		</thead>
			<% @users.each do |user|%>
				<tr>
					<td><%= link_to user.nome_utilizador, edit_uci_user_path(user.uci_user) %></td>
					<td><%= render 'table_value', value: user.uci_user.devices %></td>
					<td><%= render 'table_value', value: user.uci_user.wounds %></td>
					<td><%= render 'table_value', value: user.uci_user.tiss %></td>
					<td><%= 'Sim' if user.uci_user.supervisor %></td>
				</tr>
			<% end %>
		<tbody>
		</tbody>
	</table>
	<div class="panel panel-default">
		<div class="panel-heading">
			Adicionar utilizador
		</div>
		<div class="panel-body">
			<%= render 'form' unless @users_collection.empty? %>
		</div>
	</div>
</div>