<%= form_for(@destination) do |f| %>
	<div class="col-md-8">
		<%= f.label :destino %>
		<%= f.text_field :destino, class: 'form-control' %>
	</div>
	<div class="col-md-4">
		<%= f.label ' ' %>
		<%= f.submit "Guardar", class: 'btn btn-primary' %>
	</div>
	<div class="col-md-12">
		<%= link_to "Cancelar", transp_destinations_url(), class: 'btn btn-default' %>
	</div>
<% end %>