<%= form_for @patient do |f| %>
	<%= render 'shared/error_messages', obj: @patient %>

	<%= f.label :nome %>
	<%= f.text_field :nome, class: 'form-control' %>

	<div class="col-md-6">
		<%= f.label :data_nascimento %>
		<%= f.date_field :data_nascimento, class: 'form-control' %>
	</div>

	<div class="col-md-6">
		<%= f.label :rnu, 'RNU' %>
		<%= f.number_field :rnu, class: 'form-control' %>
	</div>

	<div class="col-md-6">
		<%= f.label :nif, 'NIF' %>
		<%= f.number_field :nif, class: 'form-control' %>
	</div>

	<div class="col-md-6">
		<%= f.label :numero_processo_sonho %>
		<%= f.number_field :numero_processo_sonho, class: 'form-control' %>
	</div>
				
	<%= f.submit 'Submeter', class: 'btn btn-primary' %>
<% end %>