<%= form_for(@patient, html: { class: 'form-horizontal' }) do |f| %>
	
	<%= render 'shared/error_messages', obj: @patient %>

	<div class="form-group">
		<%= f.label :nome, class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.text_field :nome, class: 'form-control' %>
		</div>		
	</div>

	<div class="form-group">
		<%= f.label :data_nascimento, class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.date_field :data_nascimento, class: 'form-control' %>
		</div>		
	</div>

	<div class="form-group">
		<%= f.label :rnu, class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.number_field :rnu, class: 'form-control' %>
		</div>		
	</div>

	<div class="form-group">
		<%= f.label :nif, class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.number_field :nif, class: 'form-control' %>
		</div>		
	</div>

	<div class="form-group">
		<%= f.label :numero_processo_sonho, class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.number_field :numero_processo_sonho, class: 'form-control' %>
		</div>		
	</div>	

	<div class="col-md-offset-3 col-md-9">
		<%= f.submit 'Submeter', class: 'btn btn-primary' %>
	</div>
<% end %>