<%= form_for(@survey) do |f| %>
	<%= render 'shared/error_messages', obj: @survey %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Identificação do serviço</h4>
		</div>
		<div class="panel-body">
			<%= f.label :ulsne_site_id, "Unidade Hospitalar" %>
			<%= f.collection_select(:ulsne_site_id, @sites, :id, :nome_unidade, {}, class: 'form-control') %>
			<%= f.label :ulsne_department_id, "Serviço" %>
			<%= f.collection_select(:ulsne_department_id, @departments, :id, :nome_servico, {}, class: 'form-control') %>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Questão 1<br />Que avaliação faz do atendimento do pessoal administrativo em termos de:</h4>
		</div>
		<div class="panel-body">
			<%= render 'question', f: f, param: :simpatia_disponibilidade, qt: "1.1 Simpatia e disponibilidade" %>
			<%= render 'question', f: f, param: :informacao_esclarecimentos, qt: "1.2 Informação e esclarecimentos prestados" %>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Questão 2<br />Que avaliação faz dos médicos que o seguiram no internamento relativamente a:</h4>
		</div>
		<div class="panel-body">
			<%= render 'question', f: f, param: :atencao_disponibilidade_medicos, qt: "2.1 Atenção e disponibilidade demonstrada pelos médicos" %>
			<%= render 'question', f: f, param: :medicos_explicaram_doenca, qt: "2.2 Forma como os médicos lhe explicaram a doença, sintomas e tratamento" %>
			<%= render 'question', f: f, param: :medicos_explicaram_medicacao, qt: "2.3 Explicações dadas pelos médicos sobre a medicação e exames realizados" %>
			<%= render 'question', f: f, param: :desempenho_medicos, qt: "2.4 Em termos globais como avalia o desempenho do pessoal médico" %>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Questão 3<br />Que avaliação faz dos enfermeiros que o seguiram no seu internamento relativamente a:</h4>
		</div>
		<div class="panel-body">
			<%= render 'question', f: f, param: :atencao_disponibilizada_enfermeiros, qt: "3.1 Atenção e disponibilidade demonstrada pelos enfermeiros" %>
			<%= render 'question', f: f, param: :rapidez_servico_enfermagem, qt: "3.2 Rapidez na resposta do serviço de enfermagem" %>
			<%= render 'question', f: f, param: :desempenho_enfermeiros, qt: "3.3 Em termos globais como avalia o desempenho do pessoal de enfermagem" %>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Questão 4<br />Que avaliação faz do restante pessoal que se relacionou consigo:</h4>
		</div>
		<div class="panel-body">
			<%= render 'question', f: f, param: :avaliacao_pessoal_auxiliar, qt: "4.1 Pessoal auxiliar" %>
			<%= render 'question', f: f, param: :avaliacao_outros, qt: "4.2 Outros" %>
			
			<%= f.text_field :outros, placeholder: 'Quais', class: 'form-control' %>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Questão 5<br />Satisfação em termos de instalações:</h4>
		</div>
		<div class="panel-body">
			<%= render 'question', f: f, param: :conforto_enfermarias, qt: "5.1 Conforto  e comodidade das enfermarias" %>
			<%= render 'question', f: f, param: :limpeza_higiene, qt: "5.2 Limpeza e higiene (enfermarias, sanitários, corredores e salas de refeições)" %>
			<%= render 'question', f: f, param: :protecao_enfermarias, qt: "5.3 Proteção e privacidade nas enfermarias" %>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Questão a avaliar</h4>
		</div>
		<div class="panel-body">
			<div class="col-md-6">
				<%= f.label :recomendaria_servico, "6 Recomendaria o nosso serviço a familiares e amigos?" %>
			</div>
			<div class="col-md-6">
				<div class="radio">
					<label>
						<%= f.radio_button :recomendaria_servico, "1" %>Sim
					</label>
				</div>
				<div class="radio">
					<label>
						<%= f.radio_button :recomendaria_servico, "0" %>Não
					</label>
				</div>
			</div>
			<div class="col-md-6">
				<%= f.label :globalmente_satisfeito, "7 Ficou globalmente satisfeito?" %>
			</div>
			<div class="col-md-6">
				<div class="radio">
					<label>
						<%= f.radio_button :globalmente_satisfeito, "1" %>Sim
					</label>
				</div>
				<div class="radio">
					<label>
						<%= f.radio_button :globalmente_satisfeito, "0" %>Não
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Questão 8<br />Em sua opinião, o que gostaria de ver alterado no serviço de internamento?</h4>
		</div>
		<div class="panel-body">
			<%= f.text_area :opiniao, class: 'form-control' %>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Dados para caracterização da amostra</h4>
		</div>
		<div class="panel-body">
			<%= f.label :idade %>
			<%= f.text_field :idade, class: 'form-control' %>
			<div class="col-md-6">
				<%= f.label :sexo %>
			</div>
			<div class="col-md-6">
				<div class="radio">
					<label>
						<%= f.radio_button :sexo, "1" %>Feminino
					</label>
				</div>
				<div class="radio">
					<label>
						<%= f.radio_button :sexo, "0" %>Masculino
					</label>
				</div>
			</div>
			<div class="col-md-6">
				<%= f.label :escolaridade, "Nível de escolaridade" %>
			</div>
			<div class="col-md-6">
				<div class="radio">
					<label>
						<%= f.radio_button :escolaridade, "0" %>Não sabe ler/escrever
					</label>
				</div>
				<div class="radio">
					<label>
						<%= f.radio_button :escolaridade, "1" %>Primário
					</label>
				</div>
				<div class="radio">
					<label>
						<%= f.radio_button :escolaridade, "2" %>Básico
					</label>
				</div>
				<div class="radio">
					<label>
						<%= f.radio_button :escolaridade, "3" %>Secundário
					</label>
				</div>
				<div class="radio">
					<label>
						<%= f.radio_button :escolaridade, "4" %>Superior
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<%= f.submit "Submeter", class: 'btn btn-success' %>
	</div>
<% end %>