<div class="col-md-6">
	<%= f.label param, qt %>
</div>
<div class="col-md-6">
	<div class="radio">
		<label>
			<%= f.radio_button param, "1" %>Nada Satisfeito
		</label>
	</div>
	<div class="radio">
		<label>
			<%= f.radio_button param, "2" %>Pouco Satisfeito
		</label>
	</div>
	<div class="radio">
		<label>
			<%= f.radio_button param, "3" %>Satisfeito
		</label>
	</div>
	<div class="radio">
		<label>
			<%= f.radio_button param, "4" %>Muito Satisfeito
		</label>
	</div>
	<div class="radio">
		<label>
			<%= f.radio_button param, "5" %>Totalmente Satisfeito
		</label>
	</div>
	<div class="radio">
		<label>
			<%= f.radio_button param, "0" %>NA/NR
		</label>
	</div>
</div>