<aside class="col-md-2">
	<%= render 'shared/satisf_surv_menu' %>
</aside>
<div class="col-md-10">
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Inserido por</th>
				<th>Data registo</th>
			</tr>
		</thead>
		<tbody>
			<% @surveys.each do |s| %>
				<tr>
					<td><%= link_to s.id, satisf_surv_survey_path(s) %></td>
					<td><%= s.user.nome_utilizador %></td>
					<td><%= s.updated_at %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @surveys %>
</div>