<aside class="col-md-2">
	<%= render 'shared/satisf_surv_menu' %>
</aside>
<div class="col-md-10">
	<p>Id: <%= @survey.id %></p>
	<p>Registado por: <%= @survey.user.nome_utilizador %></p>
	<p>Serviço: <%= @survey.ulsne_department.nome_servico %></p>
	<p>Unidade: <%= @survey.ulsne_site.nome_unidade %></p>
	<p>Idade: <%= @survey.idade %></p>
	<p>Sexo:
		<%= "Masculino" if @survey.sexo == 0 %>
		<%= "Feminino" if @survey.sexo == 1 %>
	</p>
	<p>Escolaridade:
		<%= "Não sabe ler/escrever" if @survey.escolaridade == 0 %>
		<%= "Primário" if @survey.escolaridade == 1 %>
		<%= "Básico" if @survey.escolaridade == 2 %>
		<%= "Secundário" if @survey.escolaridade == 3 %>
		<%= "Superior" if @survey.escolaridade == 4 %>
	</p>
	<hr/>

	<h4>Questão 1<br />Que avaliação faz do atendimento do pessoal administrativo em termos de:</h4>
	<p>1.1 Simpatia e disponibilidade:
		<strong><%= render 'answer', obj: @survey.simpatia_disponibilidade %></strong>
	</p>
	<p>1.2 Informação e esclarecimentos prestados:
		<strong><%= render 'answer', obj: @survey.informacao_esclarecimentos %></strong>
	</p>

	<h4>Questão 2<br />Que avaliação faz dos médicos que o seguiram no internamento relativamente a:</h4>
	<p>2.1 Atenção e disponibilidade demonstrada pelos médicos:
		<strong><%= render 'answer', obj: @survey.atencao_disponibilidade_medicos %></strong>
	</p>
	<p>2.2 Forma como os médicos lhe explicaram a doença, sintomas e tratamento:
		<strong><%= render 'answer', obj: @survey.medicos_explicaram_doenca %></strong>
	</p>
	<p>2.3 Explicações dadas pelos médicos sobre a medicação e exames realizados:
		<strong><%= render 'answer', obj: @survey.medicos_explicaram_medicacao %></strong>
	</p>
	<p>2.4 Em termos globais como avalia o desempenho do pessoal médico:
		<strong><%= render 'answer', obj: @survey.desempenho_medicos %></strong>
	</p>

	<h4>Questão 3<br />Que avaliação faz dos enfermeiros que o seguiram no seu internamento relativamente a:</h4>
	<p>3.1 Atenção e disponibilidade demonstrada pelos enfermeiros:
		<strong><%= render 'answer', obj: @survey.atencao_disponibilizada_enfermeiros %></strong>
	</p>
	<p>3.2 Rapidez na resposta do serviço de enfermagem:
		<strong><%= render 'answer', obj: @survey.rapidez_servico_enfermagem %></strong>
	</p>
	<p>3.3 Em termos globais como avalia o desempenho do pessoal de enfermagem:
		<strong><%= render 'answer', obj: @survey.desempenho_enfermeiros %></strong>
	</p>

	<h4>Questão 4<br />Que avaliação faz do restante pessoal que se relacionou consigo:</h4>
	<p>4.1 Pessoal auxiliar:
		<strong><%= render 'answer', obj: @survey.avaliacao_pessoal_auxiliar %></strong>
	</p>
	<p>4.2 Outros:
		<strong><%= render 'answer', obj: @survey.avaliacao_outros %></strong>
	</p>
	<p>Quem:
		<div class="well"><%= @survey.outros %></div>
	</p>

	<h4>Questão 5<br />Satisfação em termos de instalações:</h4>
	<p>5.1 Conforto  e comodidade das enfermarias:
		<strong><%= render 'answer', obj: @survey.conforto_enfermarias %></strong>
	</p>
	<p>5.2 Limpeza e higiene (enfermarias, sanitários, corredores e salas de refeições):
		<strong><%= render 'answer', obj: @survey.limpeza_higiene %></strong>
	</p>
	<p>5.3 Proteção e privacidade nas enfermarias:
		<strong><%= render 'answer', obj: @survey.protecao_enfermarias %></strong>
	</p>

	<h4>Questão a avaliar</h4>
	<p>6 Recomendaria o nosso serviço a familiares e amigos? 
		<strong><%= "Não" if @survey.recomendaria_servico == 0 %>
		<%= "Sim" if @survey.recomendaria_servico == 1 %></strong>
	</p>
	<p>7 Ficou globalmente satisfeito? 
		<strong><%= "Não" if @survey.globalmente_satisfeito == 0 %>
		<%= "Sim" if @survey.globalmente_satisfeito == 1 %></strong>
	</p>

	<h4>Questão 8<br />Em sua opinião, o que gostaria de ver alterado no serviço de internamento?</h4>
	<div class="well">
		<p><%= @survey.opiniao %></p>
	</div>
	<%= link_to "Editar", edit_satisf_surv_survey_path(@survey), class: 'btn btn-default' %>
</div>