<%= form_for(@category) do |f| %>
	<%= render 'shared/error_messages', obj: @category %>

	<%= f.label :categoria_profissional %>
	<%= f.text_field :categoria_profissional, class: 'form-control' %>

	<div class="col-md-3">
		<%= f.submit "Submeter", class: 'btn btn-primary' %>
	</div>
<% end %>