<%= form_for([@patient, @pneumology_form], html: { class: 'form-horizontal' }) do |f| %>

	<%= render 'shared/error_messages', obj: @pneumology_form %>

	<!-- Identificação -->
	<div class="panel panel-default">
		<div class="panel-body">
			<dl class="dl-horizontal col-md-6">
				<dt>Nome</dt>
				<dd><%= @patient.nome %></dd>
				<dt>Processo</dt>
				<dd><%= @patient.numero_processo_sonho %></dd>
				<dt>Idade</dt>
				<dd><%= distance_of_time_in_words_to_now(@patient.data_nascimento) %></dd>
			</dl>
			
			<div class="form-group col-md-6">
				<%= f.label :data, class: 'col-md-6 control-label' %>
				<div class="col-md-6">
					<%= f.date_field :data, class: 'form-control' %>
				</div>
			</div>
		</div>
	</div>

	<!-- Sinais vitais-->
	<div class="panel panel-default">
		<div class="panel-heading">Avaliação dos parâmetros vitais</div>
		<div class="panel-body">
			<div class="form-group col-md-6">
				<%= f.label :peso, "Peso(Kg)", class: 'col-md-6 control-label' %>
				<div class="col-md-6">
					<%= f.number_field :peso, class: 'form-control' %>
				</div>
			</div>
				
			<div class="form-group col-md-6">
				<%= f.label :pulso, "Pulso(bat/min)", class: 'col-md-6 control-label' %>
				<div class="col-md-6">
					<%= f.number_field :pulso, class: 'form-control' %>
				</div>
			</div>

			<div class="form-group col-md-6">
				<%= f.label :ta_d, "TA(mmHH)", class: 'col-md-6 control-label' %>
				<div class="col-md-3">
					<%= f.number_field :ta_s, class: 'form-control' %>
				</div>
				<div class="col-md-3">
					<%= f.number_field :ta_d, class: 'form-control' %>
				</div>
			</div>
				
			<div class="form-group col-md-6">
				<%= f.label :o2, "Sat. O2(%)", class: 'col-md-6 control-label' %>
				<div class="col-md-6">
					<%= f.number_field :o2, class: 'form-control' %>
				</div>
			</div>

			<div class="form-group col-md-6">
				<%= f.label :inaladores, class: 'col-md-6 control-label' %>
				<div class="col-md-6">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default active">
							<input type="radio" name="pneumology_form[inaladores]" id="pneumology_form_inaladores_nao" value="0" autocomplete="off" checked> Não
						</label>
						<label class="btn btn-default">
							<input type="radio" name="pneumology_form[inaladores]" id="pneumology_form_inaladores_sim" value="1" autocomplete="off"> Sim
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Dispositivos inalatorios -->
	<div id="test" class="panel panel-default">
		<div class="panel-heading">Ensino do uso de dispositivos inalatórios</div>
		<div id="dispositivos-inalatorios" class="panel-body">
			<p><a href="#test" id="pressurizados-btn" class="btn btn-default">Adicionar dispositivo</a></p>
		</div>
	</div>

<script>
	$(document).ready(function(){
    $("#pressurizados-btn").click(function(){
      $("#dispositivos-inalatorios").append(`
      						<p>
      							<select name="dispositivos-inalatorios" class="form-control">
      								<option value="Ventilan">Pressurizados - Ventilan</option>
      								<option value="Câmaras expansoras">Pressurizados - Câmaras expansoras</option>
      								<option value="Onbrez">Breezehaler - Onbrez</option>
      								<option value="Oslif">Breezehaler - Oslif</option>
      								<option value="Onbrez">hadihaler - Spiriva (Tiotrópio):</option>
      								<option value="Oslif">hadihaler - Spiriva Respimat:</option>
      							</select>
      						</p>`);
    });
	});
</script>

	<!-- Tecnica inalatória -->
	<div class="panel panel-default">
		<div class="panel-heading">Técnica inalatória</div>
		<div class="panel-body">

			<div class="form-group col-md-6">
				<%= f.label :tecnica_inalatoria_antes, "Antes", class: 'col-md-6 control-label' %>
				<div class="col-md-6">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default active">
							<input type="radio" name="pneumology_form[tecnica_inalatoria_antes]" id="pneumology_form_tecnica_inalatoria_antes_ma" value="Má" autocomplete="off" checked> Má
						</label>
						<label class="btn btn-default">
							<input type="radio" name="pneumology_form[tecnica_inalatoria_antes]" id="pneumology_form_tecnica_inalatoria_antes_razoavel" value="Razoável" autocomplete="off" checked> Razoável
						</label>
						<label class="btn btn-default">
							<input type="radio" name="pneumology_form[tecnica_inalatoria_antes]" id="pneumology_form_tecnica_inalatoria_antes_boa" value="Boa" autocomplete="off" checked> Boa
						</label>
					</div>
				</div>
			</div>

			<div class="form-group col-md-6">
				<%= f.label :tecnica_inalatoria_depois, "Depois", class: 'col-md-6 control-label' %>
				<div class="col-md-6">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default active">
							<input type="radio" name="pneumology_form[tecnica_inalatoria_depois]" id="pneumology_form_tecnica_inalatoria_depois_ma" value="Má" autocomplete="off" checked> Má
						</label>
						<label class="btn btn-default">
							<input type="radio" name="pneumology_form[tecnica_inalatoria_depois]" id="pneumology_form_tecnica_inalatoria_depois_razoavel" value="Razoável" autocomplete="off" checked> Razoável
						</label>
						<label class="btn btn-default">
							<input type="radio" name="pneumology_form[tecnica_inalatoria_depois]" id="pneumology_form_tecnica_inalatoria_depois_boa" value="Boa" autocomplete="off" checked> Boa
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Medicação e observações -->
	<div class="panel panel-default">
		<div class="panel-heading">Medicação/Observações</div>
		<div class="panel-body">
			<div class="form-group">
				<%= f.label :observacoes, "Observações", class: 'col-md-3 control-label' %>
				<div class="col-md-9">
					<%= f.text_area :observacoes, class: 'form-control' %>
				</div>
			</div>
		</div>
	</div>
			
	<div class="col-md-offset-3 col-md-9">
		<%= f.submit 'Submeter', class: 'btn btn-primary' %>
		<%= link_to "Cancelar", :back, class: 'btn btn-default' %>
	</div>

<% end %>