<tr>
	<td><%= link_to uci_wound.wound_type.ferida, edit_patient_uci_wound_path(@patient, uci_wound), remote: true %></td>
	<td><%= uci_wound.body_part.parte_do_corpo %></td>
	<td><%= uci_wound.data_registo %></td>
	<td><%= uci_wound.origem %></td>
	<td><%= 'Sim' if uci_wound.complicacoes %></td>
	<td><%= 'Sim' if uci_wound.antibioticos %></td>
	<td><%= uci_wound.observacoes %></td>
</tr>