<%= form_for([:sagt, @trip], html: { class: 'form-horizontal' }) do |f| %>
	<%= render 'shared/error_messages', obj: @trip %>

	
	<div class="form-group">
		<%= f.label :user_id, 'Utilizador', class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<% if (current_user.administrator || current_user.transp_user.nivel_acesso == 2) %>
				<%= f.collection_select :user_id, @users, :id, :nome_utilizador, {}, class: 'form-control' %>
			<% else %>
				<%= f.collection_select :user_id, @users, :id, :nome_utilizador, {}, disabled: 'disabled', class: 'form-control' %>
			<% end %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :ulsne_department_id, 'Serviço', class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.collection_select :ulsne_department_id, @departments, :id, :nome_servico, {}, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :assunto, class: 'col-md-3 control-label' %>
		<div class="col-md-9">
				<%= f.text_field :assunto, class: 'form-control' %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :condutor, "Condutor", class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default active">
					<input type="radio" name="transp_user_trip[condutor]" id="transp_user_trip_condutor_requisitante" value="Requisitante" autocomplete="off" checked> Requisitante
				</label>
				<label class="btn btn-default">
					<input type="radio" name="transp_user_trip[condutor]" id="transp_user_trip_condutor_motorista" value="Motorista" autocomplete="off"> Motorista
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :transp_destination_id, "Destino", class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.collection_select :transp_destination_id, @destinations, :id, :destino, { include_blank: true }, class: 'form-control' %>
			<span class="help-block">Detalhar em mais informação</span>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :numero_passageiros, "Número de ocupantes", class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.number_field :numero_passageiros, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :observacoes, "Mais informação", class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.text_area :observacoes, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :inicio_da_viagem, class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<div class="panel panel-default" data-toggle="tooltip" title="As saídas têm de ser marcadas até às 15h do dia anterior">
				<div class="panel-body">
					<%= f.label :data_inicio, class: 'control-label' %>
					<%= f.text_field :data_inicio, placeholder: 'dd/mm/aaaa hh:mm', class: 'form-control datetimepicker' %>
					<%= f.label :local_inicio_id, "Local de saída", class: 'control-label' %>
					<%= f.collection_select :local_inicio_id, @sites, :id, :nome_unidade, {}, class: 'form-control' %>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :regresso_da_viagem, class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<div class="panel panel-default" data-toggle="tooltip" title="As saídas têm de ser marcadas até às 15h do dia anterior">
				<div class="panel-body">
					<%= f.label :data_fim, class: 'control-label' %>
					<%= f.text_field :data_fim, placeholder: 'dd/mm/aaaa hh:mm', class: 'form-control datetimepicker' %>
					<%= f.label :local_fim_id, "Local de regresso", class: 'control-label' %>
					<%= f.collection_select :local_fim_id, @sites, :id, :nome_unidade, {}, class: 'form-control' %>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-offset-3" data-toggle="tooltip" title="As saídas têm de ser marcadas até às 15h do dia anterior">
		<%= f.submit "Submeter", class: 'btn btn-primary' %>
	</div>
<% end %>