<div class="panel panel-default">
	<div class="panel-heading">Gerir requisição</div>
	<div class="panel-body">
		<%= form_for([:sagt, @trip]) do |f| %>
			<%= f.label :aprovacao %>
			<%= f.select(:aprovacao, [['Pendente', 0],['Aprovado', 1], ['Recusado', 2]], {}, class: 'form-control') %>
			<%= f.label :comentarios_supervisor %>
			<%= f.text_area :comentarios_supervisor, class: 'form-control' %>
			<%= f.submit "Submeter", class: 'btn btn-primary' %>
			<%= link_to 'Eliminar', sagt_transp_user_trip_path(@trip),
					method: :delete,
					data: { confirm: 'Tem a certeza?' },
					class: 'btn btn-danger' %>
		<% end %>
	</div>
</div>