<div class="col-md-12">
	<%= render 'shared/menu_transp' %>
</div>

<div class="col-md-10 col-md-offset-1">

	<div class="col-md-6">
		<p>
			<small>Requisitante</small> <strong> <%= @trip.user.nome_utilizador %></strong><br />
		</p>
		<p>
			<small>Assunto</small> <%= @trip.assunto %>
		</p>
		<p>
			<small>Destino</small> <%= @trip.transp_destination.destino %>
		</p>
	</div>

	<div class="col-md-6">
		<p>
			<small>Serviço</small> <%= @trip.ulsne_department.nome_servico %>
		</p>
		<p>
			<small>Condutor</small> <%= @trip.condutor %>
		</p>
		<p>
			<small>Número de ocupantes</small> <%= @trip.numero_passageiros %>
		</p>
	</div>

	<div class="col-md-12">
		<p>
			<small>Mais informação</small> <%= @trip.observacoes %>
		</p>
	</div>

	<div class="col-md-6">
		<p>
			<small>Data inicio</small> <%=l @trip.data_inicio %>
		</p>
		<p>
			<small>Local da viatura</small> <%= @trip.local_inicio.nome_unidade %>
		</p>
	</div>

	<div class="col-md-6">
		<p>
			<small>Data fim</small> <%=l @trip.data_fim %>
		</p>
		<p>
			<small>Local da entrega </small><%= @trip.local_fim.nome_unidade %>
		</p>
	</div>

	<div class="row">
		<%= link_to "Editar", edit_sagt_transp_user_trip_path(@trip), class: 'btn btn-success' %>
		<%= link_to "Voltar", :back, class: 'btn btn-default' %>
	</div>

	<div class="row">
		<%= render 'supervisor' if current_user.administrator || current_user.transp_user.nivel_acesso ==2 %>
	</div>

</div>