<%= form_for(@trip) do |f| %>
	<%= render 'shared/error_messages', obj: @trip %>

	<!-- New line -->
	<div class="col-md-6">
		<%= f.label :user_id, 'Utilizador' %>
		<% if (current_user.administrator || current_user.transp_user.nivel_acesso == 2) %>
			<%= f.collection_select :user_id, @users, :id, :nome_utilizador, {}, class: 'form-control' %>
		<% else %>
			<%= f.collection_select :user_id, @users, :id, :nome_utilizador, {}, disabled: 'disabled', class: 'form-control' %>
		<% end %>
	</div>

	<div class="col-md-6">
		<%= f.label :ulsne_department_id, 'Serviço' %>
		<%= f.collection_select :ulsne_department_id, @departments, :id, :nome_servico, {}, class: 'form-control' %>
	</div>

	<!-- New line -->
	<div class="col-md-6">
		<%= f.label :assunto %>
		<%= f.text_field :assunto, class: 'form-control' %>
	</div>
	
	<div class="col-md-6">
		<%= f.label :condutor, "Condutor/Motorista" %>
		<%= f.text_field :condutor, class: 'form-control' %>
	</div>

	<!-- New line -->
	<div class="col-md-6">
		<%= f.label :transp_destination_id, "Destino (detalhar em mais informação)" %>
		<%= f.collection_select :transp_destination_id, @destinations, :id, :destino, {}, class: 'form-control' %>
	</div>

	<div class="col-md-6">
		<%= f.label :numero_passageiros, "Número de ocupantes" %>
		<%= f.number_field :numero_passageiros, class: 'form-control' %>
	</div>

	<!-- New line -->
	<div class="col-md-12">
		<%= f.label :observacoes, "Mais informação" %>
		<%= f.text_area :observacoes, class: 'form-control' %>
	</div>

	<!-- New line -->
	<div class="col-md-6 well well-sm">
		<h2>Início da viagem</h2>
		<%= f.label :data_inicio %><br />
		<%= f.datetime_select :data_inicio, {}, class: 'form-control datetime-select' %>
		<%= f.label :local_inicio_id, "Local de saída" %>
		<%= f.collection_select :local_inicio_id, @sites, :id, :nome_unidade, {}, class: 'form-control' %>
	</div>

	<div class="col-md-6 well well-sm">
		<h2>Regresso da viagem</h2>
		<%= f.label :data_fim %><br />
		<%= f.datetime_select :data_fim, {}, class: 'form-control datetime-select' %>
		<%= f.label :local_fim_id, "Local de regresso" %>
		<%= f.collection_select :local_fim_id, @sites, :id, :nome_unidade, {}, class: 'form-control' %>
	</div>

	<!-- New line -->
	<div class="col-md-3">
		<%= f.submit "Submeter", class: 'btn btn-primary' %>
	</div>
	<%= link_to "Cancelar", transp_user_trips_path(), class: 'btn btn-default' %>
<% end %>