<aside class="col-md-2">
	<%= render 'shared/transp_menu' %>
	<%= render 'transp_user_trip' %>
</aside>
<div class="col-md-10">

	<!-- new line -->
	<div class="col-md-8">
		<h1>
			<small>Requisitante</small> 
			<%= @trip.user.nome_utilizador %>
		</h1>

		<h2>
			<small>Serviço</small> 
			<%= @trip.ulsne_department.nome_servico %>
		</h2>
	</div>

	<div class="col-md-4">
		<h3>Contactos</h3>
		<p>
			<small>Email </small><%= @trip.user.email %><br />
			<% @trip.user.user_phone_numbers.each do |p|%>
				<small>Número </small><%= p.numero_contacto %><br />
			<% end %>
		<p>
	</div>

	<!-- new line -->
	<div class="col-md-8">
		<div class="col-md-6">
			<p>
				<small>Assunto </small>
				<%= @trip.assunto %> 
			</p>
			<p>
				<small>Destino </small>
				<%= @trip.transp_destination.destino %> 
			</p>
		</div>

		<div class="col-md-6">
			<p>
				<small>Condutor </small>
				<%= @trip.condutor %>
			</p>
			<p>
				<small>Número de ocupantes </small>
				<%= @trip.numero_passageiros %> 
			</p>
		</div>

		<!-- new line -->

		<div class="col-md-12">
			<p>
				<small>Mais informação </small>
				<%= @trip.observacoes %>
			</p>
		</div>

		<!-- new line -->

		<div class="col-md-6">
			<p>
				<small>Data inicio </small>
				<%= @trip.data_inicio %> 
			</p>
			<p>
				<small>Local da viatura </small>
				<%= @trip.local_inicio.nome_unidade %> 
			</p>
		</div>

		<div class="col-md-6">
			<p>
				<small>Data fim </small>
				<%= @trip.data_fim %>
			</p>
			<p>
				<small>Local da entrega </small>
				<%= @trip.local_fim.nome_unidade %> 
			</p>
		</div>

	</div>
	<% if current_user.administrator || current_user.transp_user.nivel_acesso == 2 %>
		<div class="col-md-4 well well-sm">
			<h2>Supervisor</h2>
			<%= form_for(@trip) do |f| %>
				<%= f.label :aprovacao %>
				<%= f.select(:aprovacao, [['Pendente', 0],['Aprovado', 1], ['Recusado', 2]], {}, class: 'form-control') %>
				<%= f.label :comentarios_supervisor %>
				<%= f.text_area :comentarios_supervisor, class: 'form-control' %>
				<%= f.submit "Submeter", class: 'btn btn-primary' %>
			<% end %>
		</div>
	<% end %>
</div>