<%= form_for([:vmer, @schedule]) do |f| %>
	<%= render 'shared/error_messages', obj: @schedule %>

	<div class="col-md-4">
		<%= f.collection_select(:user_id, 
				@group_users,
				:id,
				:nome_utilizador,
				{},
				class: 'form-control') %>
	</div>

	<div class='col-md-4'>
		<div class="form-group">
			<div class='input-group date' id='dayPicker'>
				<%= f.text_field :inicio_turno, value: Date.tomorrow, class: 'form-control' %>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-default active">
				<input type="radio" name="escala_vmer_schedule[tipo_turno]" id="escala_vmer_schedule_tipo_turno_manha" value="8" autocomplete="off" checked>Manhã
			</label>
			<label class="btn btn-default">
				<input type="radio" name="escala_vmer_schedule[tipo_turno]" id="escala_vmer_schedule_tipo_turno_tarde" value="14" autocomplete="off">Tarde
			</label>
			<label class="btn btn-default">
				<input type="radio" name="escala_vmer_schedule[tipo_turno]" id="escala_vmer_schedule_tipo_turno_noite" value="20" autocomplete="off">Noite
			</label>
		</div>
	</div>
	
	<%= f.submit "Adicionar", class: 'btn btn-primary' %>
<% end %>