<aside class="col-md-3">
	<%= render 'shared/menu_escala_vmer' %>
</aside>
<div class="col-md-9">
	<h1>
		<small>Disponibilidade de </small>
		<%= @schedule.user.nome_utilizador %>
	</h1>
	<p><small>Turno </small><%= @tipo_turno %></p>
	<p><small>Inicio do turno </small><%=l @schedule.inicio_turno %></p>
	<p><small>Fim do turno </small><%=l @schedule.fim_turno %></p>

	<%= link_to "Remover disponibilidade", 
				vmer_escala_vmer_schedule_path(@schedule),
				method: :delete,
				data: { confirm: 'Tem a certeza?' }, 
				class: 'btn btn-danger'  unless @schedule.escalado %>
	
	<% if current_user.escala_vmer_user.nivel_acesso == 2 %>
		<div class="panel panel-default">
			<div class="panel-heading">Gestão escala</div>
			<div class="panel-body">
				<%= form_for([:vmer, @schedule]) do |f| %>
					<div class="checkbox">
						<label><%= f.check_box :escalado %> <b>Escalado</b>
						</label>
					</div>
					<%= f.submit "Guardar", class: 'btn btn-primary' %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>