<aside class="col-md-2">
	<%= render 'shared/ajudas_tecnicas_menu' %>
</aside>
<div class="col-md-10">
	<h1><%= @patient.nome_doente %></h1>
	<%= form_for([@patient,@loan]) do |f| %>
		<%= render 'shared/error_messages', obj: @loan %>

		<%= f.label :inicio_cedencia, "Inicio" %><br />
		<%= f.date_select :inicio_cedencia, {}, class: 'form-control date-select', disabled: 'disabled' %>

		<%= f.label :ajudas_tecnicas_equipment_id, "Equipamento" %>
		<%= f.collection_select :ajudas_tecnicas_equipment_id, @ajudas_tecnicas_equipments, :id, :equipamento, {}, class: 'form-control', disabled: 'disabled' %>

		<%= f.label :cuidador %>
		<%= f.text_field :cuidador, class: 'form-control' %>
	
		<%= f.label :observacoes %>
		<%= f.text_field :observacoes, class: 'form-control' %>

		<%= f.label :fim_cedencia, "Fim" %><br />
		<%= f.date_select :fim_cedencia, {}, class: 'form-control date-select' %>
	
		<%= f.submit "Guardar", class: 'btn btn-primary' %>
		<%= link_to "Cancelar", @patient, class: 'btn btn-default' %>
	<% end %>
</div>