<%= form_for(@inhaler_device) do |f| %>

    <%= render 'shared/error_messages', obj: @inhaler_device %>

    <div class="form-group">
        <%= f.label :pneumo_devices_category, "Categoria" %>
        <%= f.collection_select(:pneumo_devices_category_id, @devices_categories, :id, :categoria, {}, class: 'form-control') %>
    </div>
    
    <div class="form-group">
        <%= f.label :designacao, "Designação e quantidade" %>
        <%= f.text_field :designacao, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :dci, "DCI" %>
        <%= f.text_field :dci, class: 'form-control' %>
    </div>

    <div class="form-group">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default <%= 'active' if @inhaler_device.ativo %>">
                <input type="radio" name="pneumo_inhaler_device[ativo]" id="pneumo_inhaler_device_ativo_true" value="true" autocomplete="off" checked> Ativo
            </label>
            <label class="btn btn-default <%= 'active' unless @inhaler_device.ativo %>">
                <input type="radio" name="pneumo_inhaler_device[ativo]" id="pneumo_inhaler_device_ativo_false" value="false" autocomplete="off"> Não ativo
            </label>
        </div>
    </div>
    
    <%= f.submit "Submeter", class: 'btn btn-primary' %>
    <%= link_to "Cancelar", :back, class: 'btn btn-default' if action_name == 'edit' %>
<% end %>