<div class="col-md-12">
	<%= render 'shared/menu_patients' %>
</div>
<div class="col-md-10 col-md-offset-1">
	<h1>Dispositivos inalatórios</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Categoria</th>
				<th>Nome</th>
				<th>DCI</th>
				<th>Ativo</th>
			</tr>
		</thead>
		<tbody>
			<% @inhaler_devices.each do |device| %>
				<tr class="<%= 'danger' unless device.ativo %>">
					<td><%= device.pneumo_devices_category.categoria %></td>
					<td><%= link_to device.designacao, edit_pneumo_inhaler_device_path(device) %></td>
					<td><%= device.dci %></td>
					<td><%= 'Sim' if device.ativo %><%= 'Não' unless device.ativo %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="panel panel-default">
		<div class="panel-heading"><h3>Adicionar dispositivo</h3></div>
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>