<div class="col-md-12 panel panel-default">
	<%= render 'shared/menu_contacts' %>
</div>

<div class="col-md-10 col-md-offset-1">

	<h1>Editar <%= @user.nome_utilizador %></h1>

	<%= form_for([:contacts, @user], html: { class: 'form-horizontal' }) do |f| %>
		
		<%= render 'shared/error_messages', obj: @user %>

		<div class="form-group">
			<%= f.label :nome_utilizador, class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.text_field :nome_utilizador, placeholder: 'Nome completo', class: 'form-control' %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :numero_mecanografico, "Número mecanográfico", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.number_field :numero_mecanografico, placeholder: '5 digitos', class: 'form-control' %>
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label :titulo, 'Título profissional', class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.select(:titulo, [[""],["Sr."], ["Sr.ª"], ["Dr."], ["Dr.ª"], ["Enf."], ["Enf.ª"], ["Tec."], ["Aux."], ["Eng."], ["Eng.ª"]], {}, class: 'form-control') %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :email, class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.email_field :email, autofocus: true, class: 'form-control' %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :user_phone_numbers, "Contacto", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<div id="user_phone_numbers" class="panel panel-default">
					<div class="panel-body">
						<%= f.fields_for :user_phone_numbers do |user_phone_number| %>
							<%= render 'user_phone_number_fields', f: user_phone_number %>
						<% end %>
						<div class="links">
							<%= link_to_add_association 'Adicionar número', f, :user_phone_numbers, class: 'btn btn-success' %>
						</div>
						<p><small> Os contactos inseridos são visiveis a todos os utilizadores</small></p>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :u2d_associations, "Serviço", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<div id="u2d_associations" class="panel panel-default">
					<div class="panel-body">
						<%= f.fields_for :u2d_associations do |u2d_association| %>
							<%= render 'u2d_association_fields', f: u2d_association %>
						<% end %>
						<div class="links">
							<%= link_to_add_association 'Adicionar serviço', f, :u2d_associations, class: 'btn btn-success' %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :ulsne_site_id, "Unidade da ULSNE", class: 'control-label col-md-3' %>
			<div class="col-md-9">
				<%= f.collection_select(:ulsne_site_id, UlsneSite.order(:nome_unidade), :id, :nome_unidade, {}, class: 'form-control') %>
			</div>
		</div>

		<div class="col-md-offset-3">
			<%= f.submit "Atualizar", class: 'btn btn-primary' %>
			<%= link_to "Cancelar", :back, class: 'btn btn-default' %>
		</div>
	<% end %>

</div>