<div class="col-md-12">
	<%= render 'shared/menu_contacts' %>
</div>

<div class="col-md-10 col-md-offset-1">
	
	<h1>Colaboradores</h1>
	<div class="jumbotron">
		<p>
			<%= search_form_for [:contacts, @q] do |f| %>
				<div class="row">
  				<div class="col-md-12">
    				<div class="input-group">
      				<%= f.search_field :nome_utilizador_cont, placeholder: 'Procurar contacto', class: 'form-control' %>
      				<span class="input-group-btn">
        				<%= f.submit "Procurar", class: 'btn btn-success' %>
      				</span>
    				</div><!-- /input-group -->
  				</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			<% end %>
		</p>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Unidade</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |u| %>
				<tr>
					<td><%= u.titulo %> <%= link_to u.nome_utilizador, contacts_user_path(u), remote: true %></td>
					<td><%= u.email %></td>
					<td><%= u.ulsne_site.nome_unidade %></td>
				</tr>
			<% end %>
		</tbosy>
	</table>
	<%= will_paginate @users %>
</div>
<%= render 'shared/modal' %>