<div class="col-md-3">
	<%= render 'shared/menu_contacts' %>
</div>
<div class="col-md-9">

	<legend><%= @user.titulo %> <%= @user.nome_utilizador %></legend>

	<p><small>E-mail</small> <%= @user.email %></p>

	<% @user.user_phone_numbers.each do |phone| %>
		<p><small>Telefone</small> <%= phone.numero_contacto %></p>
	<% end %>

	<% @user.ulsne_departments.each do |dep| %>
		<p><small>Serviço</small> <%= dep.nome_servico %></p>
	<% end %>

	<p><small>Unidade</small> <%= @user.ulsne_site.nome_unidade %></p>
	
</div>